@font-face {
    font-family: "norse";
    src: url("../font/Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    width: 1044px;
    margin: 0 auto;
    background-color: black;
}
body{
    height: 100vh;
    margin: 0 auto;
    background-color: #F9FAFB;
    display: flex;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
}
section{
    height: 33.3%;
}
body>div{
    width: 47%;
}
.mid{
    background-color: white;
    box-shadow: 0 0 5px lightgray;
}
.top{
    padding:80px 40px 10px 40px;
    word-break: keep-all;
}
.top > p{
    margin-bottom: 10px;
    width: 500px;
}
.top > h3 {
    margin-top: 20px;
}
.mid,.bot{
    padding: 20px 0 0 40px;
}

/* Form */
.mid>div{
    display: flex;
}
div>div{
    width: 50%;
}
label{
    display: inline-block;
    width: 100%;
    font-size: 0.7rem;
    font-weight: normal;
    margin-top: 15px;
}
input{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    outline: none;
    font-weight: normal;
    padding: 2.5px 5px;
    font-size: 0.8rem;
    width: 75%;
}

/* Image */
div>img{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

/* Button */
button{
    background-color: #596D48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: bolder;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 0 2.5px gray;
}
button:active{
    transform: scale(0.9);
}
.bot>p{
    font-size: 0.8rem;
    font-weight: normal;
}
.bot span{
    color: #596D48;
    font-weight: bold;
}

/* Form effects */
input:focus{
    border-color: blue;
    box-shadow: 2px 2px 2px lightgray;
}


header{
    position: absolute;
    left: 50px;
    top: 150px;
    width: 42%;
    color: white;
    font-family: "norse";
    font-size: 75px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    justify-content: center;
}
header img{
    height: 100px;
    margin-left: 50px;
}
header>*{
    align-items: center;
}
footer{
    position: absolute;
    left: 300px;
    bottom: 25px;
    color: white;
    font-family: 'Helvetica';
    font-size: 0.6rem;
    font-weight: lighter;
}
a{
    color:white;
}